
html, body{
    height: 100%;
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    
    
}

*, *::before, *::after {
    box-sizing: border-box;
  }

ul {
    list-style-type: none;
    padding: 0
}

h1{
    font-size: 18px;
}

.wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.container {
    border-radius: 5%;
    box-shadow: 10px 10px 25px 4px hsla(256, 72%, 46%, 0.1);
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;

}

.result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 5%;
    color: hsl(241, 100%, 89%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px
}

.result h1{
    margin-top: 30px;
    font-weight: 800

}

.circle{
    border-radius: 100%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.score{
    margin-top: 30px
}

.score span{
    font-size: 3rem;
    font-weight: 800;
    color: white;
}
.score p{
    margin-top: 0
}

.feedback{
    margin-left: 40px;
    margin-right: 40px;
}

.feedback span{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.summary{
    width: 50%;
    margin-top: 1rem
}

.summary h1{
    font-weight: 800;
}

.summary-container{
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px
}
.stats{
    display: flex;
    justify-content: space-around;
    color: hsla(0, 0%, 0%, 0.5);
    font-weight: 700;
    height: 45px
}

.stats span{
    color: black
}
.stat1{
    background-color: hsla(0, 100%, 67%, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.reaction-color{
    color:hsla(0, 100%, 67%, 0.8);
    margin-left: -30px
}

.stat2{
    background-color: hsla(39, 100%, 56%, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.memory-color{
    color:hsla(39, 100%, 56%,0.8);
    margin-left: -30px
}
.stat3{
    background-color: hsla(166, 100%, 37%, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.verbal-color{
    color:hsla(166, 100%, 37%, 0.8);
    margin-left: -30px
}
.stat4{
    background-color: hsla(234, 85%, 45%, 0.05);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.visual-color{
    color:hsla(234, 85%, 45%, 0.8);
    margin-left: -30px
}